include README.md README.en.md LICENSE CHANGELOG.md
recursive-include src/panelpop/static *.html *.css *.js
recursive-include tests *.py
recursive-include docs *.md *.png
include .github/workflows/ci.yml
